* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(139, 191, 236);
}

#quiz-form {
    width: 360px;
    height: 200px;
    background-color: azure;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

#title-text {
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 20px;
    display: block;
}

.radio-container input {
    float: left;
    clear: both;
    margin-top: 4px;
}

.radio-container label {
    float: left;
    margin-left: 10px;
}

#submit-button {
    display: block;
    clear: both;
    position: absolute;
    background-color: blueviolet;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    border: 0px;
    font-size: 12pt;
}

#results {
    display: none;
}

.display-block {
    display: block !important;
}

.display-none {
    display: none !important;
}